<%= form_for @post do |f| %>
  <div id="errors">
    <% if @post.errors.any? %>
      <h2> <%= pluralize(@post.errors.count, "error") %> </h2>
    <% end %>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  </div>
  <p>
  <%= f.label :title %> <br>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :body %> <br>
  <%= f.text_area :body %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>
