.page-header
  - @posts.each do |post|
    .jumbotron
      %h1
        = link_to post.title, post
      %h4
        = "By #{post.user.email}"
      %p
        = post.body
      %p
        = post.created_at.strftime("%B, %d, %Y")
      %p
        = link_to 'Read More', post, class: 'btn btn-primary'
